{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Traditional ", "Ancient ", "Masterful ", "Graceful ", "Powerful ", "Spacebreaking ", "Destructive ", "Crescent ", "Deathly ", "Unlucky ", "Holy ", "Soulsucking ", "Motivated ", "Neo " ],
      [ { "mode" : "alts" }, "Katana", "Uchigatana", "Tachi", "Cutter", "Masamune", "Sadamune", "Okanehira",  "Nodachi", "Zandatsu", "Yamato", "Ohabari", "Totsuka" ]
    ]
  ]
}
