{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/starburstcollections/pf_starburstcollections_header.png",
      "fileBody" : "/interface/scripted/starburstcollections/pf_starburstcollections_body.png",
      "fileFooter" : "/interface/scripted/starburstcollections/pf_starburstcollections_footer.png"
    },
    "collectionTabs" : {
      "type" : "radioGroup",
      "callback" : "selectCollection",
      "zlevel" : 2,
      "toggleMode" : false,
      "buttons" : [
        // COMBAT
        {
          "selected" : false,
          "position" : [19, 197],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_uniqueweapons_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_uniqueweapons_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_basiccollection"
        },
        {
          "selected" : false,
          "position" : [45, 197],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_throwingweapons_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_throwingweapons_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_symbolcollection"
        },

        {
          "selected" : false,
          "position" : [19, 171],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_biomeweapons_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_biomeweapons_select.png",
          "pressedOffset" : [0, 0],
          "data" : "pf_biomeweapons"
        },
        {
          "selected" : false,
          "position" : [45, 171],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_referenceweapons_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_referenceweapons_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_monstercollection"
        },

        {
          "selected" : false,
          "position" : [19, 145],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_enhancementpacks_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_enhancementpacks_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_speciescollection"
        },
        {
          "selected" : false,
          "position" : [45, 145],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_biomearmor_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_biomearmor_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_peoplecollection"
        },

        // EXPLORATION
        {
          "selected" : false,
          "position" : [19, 99],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_hazardprotection_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_hazardprotection_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_basiccollection"
        },
        {
          "selected" : false,
          "position" : [45, 99],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_tools_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_tools_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_symbolcollection"
        },

        {
          "selected" : false,
          "position" : [19, 73],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_farmables_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_farmables_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_animalcollection"
        },
        {
          "selected" : false,
          "position" : [45, 73],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_geology_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_geology_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_monstercollection"
        },

        {
          "selected" : false,
          "position" : [19, 47],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_arttrophies_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_arttrophies_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_speciescollection"
        },
        {
          "selected" : false,
          "position" : [45, 47],
          "baseImage" : "/interface/scripted/starburstcollections/tabs/pf_tab_codex_idle.png",
          "baseImageChecked" : "/interface/scripted/starburstcollections/tabs/pf_tab_codex_select.png",
          "pressedOffset" : [0, 0],
          "data" : "PBp_peoplecollection"
        }
      ]
    },

    "combatLabel" : {
      "type" : "label",
      "position" : [43, 223],
      "hAnchor" : "mid",
      "value" : "^#735e3a;COMBAT"
    },

    "exploreLabel" : {
      "type" : "label",
      "position" : [43, 125],
      "hAnchor" : "mid",
      "value" : "^#735e3a;ADVENTURE"
    },


    "topicLabel" : {
      "type" : "label",
      "position" : [138, 223],
      "hAnchor" : "mid",
      "color" : "#735e3a",
      "value" : "Introduction"
    },
    "descriptionLabel" : {
      "type" : "label",
      "position" : [79, 219],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "#735e3a",
      "value" : "Greetings traveler! You have just opened an Explorer's Journal, a resource to help you on your journey. This book will help by enlightening you on things to look out for and cataloguing all of the curiosities you find. Browse around and see what you've found, or what you've yet to find!",
      "wrapWidth" : 120
    },
    "selectLabel" : {
      "type" : "label",
      "position" : [306, 223],
      "hAnchor" : "mid",
      "color" : "#735e3a",
      "value" : "Collection"
    },
    "emptyLabel" : {
      "type" : "label",
      "position" : [303, 192],
      "hAnchor" : "mid",
      "color" : "red",
      "value" : "Select a topic to the left"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [390, 246]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "    Explorer's Journal",
      "subtitle" : "    ^#eeeeee;Learn about the things you've seen",
      "position" : [8, 3],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/starburstcollections/pf_starburstcollections_icon.png",
        "position" : [0,0],
        "zlevel" : -1
      }
    },
    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/scripted/starburstcollections/pf_starburstcollections_scrollarea.png",
      "position" : [212, 40],
      "zlevel" : -5
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [221, 49, 399, 219],
      "children" : {
        "collectionList" : {
          "type" : "list",
          "callback" : "null",
          "position" : [1, 217],
          "columns" : 4,
          "fillDown" : true,
          "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/scripted/starburstcollections/pf_starburstcollections_list_bg.png",
            "unselectedBG" : "/interface/scripted/starburstcollections/pf_starburstcollections_list_bg.png",
            "spacing" : [10, 10],
            "memberSize" : [32, 32],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/starburstcollections/pf_starburstcollections_list_bg.png",
                "position" : [0, 0],
                "zlevel" : -10
              },
              "icon" : {
                "type" : "image",
                "file" : "",
                "position" : [16, 16],
                "size" : [22, 22],
                "centered" : true,
                "zlevel" : 0
              },
              "border" : {
                "type" : "image",
                "file" : "/interface/scripted/starburstcollections/pf_starburstcollections_list_fg.png",
                "position" : [0, 0],
                "zlevel" : 10
              },
              "index" : {
                "type" : "label",
                "position" : [8, 2],
                "zlevel" : 20,
                "hAnchor" : "mid",
                "color" : "white",
                "value" : ""
              }
            }
          }
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [
    "selectCollection"
  ],

  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/scripted/starburstcollections/pf_starburstcollections_tooltip.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [8, 96],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [8, 78],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "color" : "#735e3a",
      "wrapWidth" : 170
    },
    "icon" : {
      "type" : "image",
      "position" : [232, 50],
      "file" : "",
      "centered" : true,
      "maxSize" : [80, 80],
      "minSize" : [80, 80]
    }
  },

  "scripts" : [ "/interface/scripted/starburstcollections/pf_starburstcollections.lua" ],
  "scriptDelta" : 30,

  "iconSize" : [22, 22]
}
