{
  //COMBAT
  "pf_biomeweapons" : { 
    "topic" : "Biome Weapons", 
    "description" : "In your travels, be on the look out for biome weapons. The equipment on some planets can be just as varied as the planets themselves.

Coming across one of these valuable weapons can assist you greatly. You can even upgrade them at a ^red;Tempering Anvil^reset;!

They can be found in chests or even lying around in special places. "
  }
}
