{
  //COMBAT
  "pf_biomeweapons" : { 
    "topic" : "Biome Weapons", 
    "description" : "The equipment on planets can be just as varied as the planets themselves, within their treasures exist powerful weapons.

Coming across one of these valuable weapons can assist you greatly. You can even upgrade them at a ^red;Tempering Anvil^reset;!

They can be found in chests or even lying around in special places."
  },
  "pf_uniqueweapons" : { 
    "topic" : "Unique Weapons", 
    "description" : "Hidden in the most innocuous places are pieces of equipment that exists beyond what one can normally obtain.

These take on forms that are unique from their counterparts, often with their own abilities or capabilities. 

All of them can be useful in some way."
  },
  "pf_throwingweapons" : { 
    "topic" : "Throwing Weapons", 
    "description" : "Out and about, you can find simple weapons you can throw. All of them versatile and strong in certain ways.

Some are slow, some are fast. Some inflict statuses, some explode. Even a few can help you hunt for creature materials.

Having some of these on hand can be a great boon on your travels."
  },
  "pf_otherworldlyweapons" : { 
    "topic" : "Otherworldly Weapons", 
    "description" : "Something happened when this world was changed. Perhaps it was a mistake, or in some way, it was chosen to be so.

Very rarely, underground, one can find a cube shaped chest; where a dimensional rift was opened. The data from it taking the shape of new equipment. 

Like the weapons of this world, you can upgrade them at a ^red;Tempering Anvil^reset;"
  },
  "pf_enhancementpacks" : { 
    "topic" : "Enhancement Packs", 
    "description" : "While many explorers often decide to put EPPs on their backs, there exist other packs that can boost your abilities.

Often found in structures, biomes, or even crafted. These can give you boosts to movement, stamina, unique effects, etc.

They'll even accept ^red;Augments^reset;. Allowing them to potentially block hazards as well."
  },

  //EXPLORATION
  "pf_tools" : { 
    "topic" : "Adventuring Gear", 
    "description" : "The world can be dangerous or more difficult if one does not have enough options. These are where tools shine the most.

Flashlights to light your way, pickaxes to enhance your abilities, rope to let you descend faster. All of them have uses.

Many can be crafted at a ^red;Foraging Table^reset;, others are found in the world."
  },
  "pf_hazardprotection" : { 
    "topic" : "Environment Protection", 
    "description" : "As you explore deeper parts of the universe, the planets often grow more hazardous as one progresses.

Hazard protection is important. Temporary items, augments, EPPs, all of them have upsides and downsides.    

This is why the ^red;Hazard Lab Table^reset; is your best friend, visit it when you need a way forward."
  },
  "pf_minerals" : { 
    "topic" : "Minerals and Metals", 
    "description" : "Minerals are a very, very necessary part about your journey through the stars. They all assist you in your tech capabilities.

All star classes have their own base metals. Some minerals can only be found on specific planets. 

Some can also be good for furniture or other sorts of crafting!"
  },
  "pf_farmables" : { 
    "topic" : "Farming and Produce", 
    "description" : "When you find a place to settle down, farming crops is a very good way of gaining resources in your downtime.

Necessary fabrics, food with extra buffs, some even grant you hazard protection.

Look around and pick up any seeds you find on your travels, they can do wonders!"
  }
}
