{
  "attack" : {
    "default" : {
      "default" : [
        "None shall pass!"
      ]
    },
    "human" : {
      "default" : [
        "This just isn't your day!",
        "You shouldn't have come here!",
        "Perhaps killing you will grant me a bonus!",
		"Finally, I get to show off my technique!",
		"Ah jeez, still not used to fighting with my blade yet...",
		"The USCM trained me well, and so has my Lord!",
		"No surrender!",
		"I am the storm that is approaching!",
		"Loyalty above all, afraid that means you must die!",
		"I will turn you into swiss cheese! ...er, sliced swiss cheese...",
		"I'll beat you to a pulp!",
		"Ugh, I have to do something now?",
		"For honor!",
		"My power is beyond anything you can comprehend!"
      ]
    },
	"hylotl" : {
      "default" : [
        "You shall not defeat me!",
		"For my family's honor!",
		"My blade shall cut you to pieces!",
		"I shall not surrender to you!",
		"My ancestors smile down upon me!",
		"My Lord said no intruders, so you shall perish!",
		"The day is mine, not yours!",
		"My superior technique will end your life faster than you can blink!",
		"Your blood will make a pretty picture on the wall!",
		"No intruders!",
		"Intruders will be eradicated!",
		"I wield the might of a storm, I will blow you away!",
		"May the Blue Blade bless me!"
      ],
	  "hylotl" : [
        "A powerful opponent, our battle will be legendary!",
		"For my family's honor!",
		"My blade shall cut you to pieces!",
		"I shall not surrender to you!",
		"My ancestors smile down upon me, can you say the same!?",
		"My Lord said no intruders I'm afraid, I'm sure you understand.",
		"The day is mine, not yours!",
		"Finally, a worthy opponent!",
		"May our battle be picturesque!",
		"No intruders!",
		"Intruders will be eradicated!",
		"Two maelstroms collide, who shall pass!?",
		"May the Blue Blade bless our fight!",
		"Let's see whose philosophy stands strong!"
      ],
      "floran" : [
        "You shall not defeat me!",
		"For my family's honor!",
		"My blade shall turn you into salad!",
		"I shall not surrender to you!",
		"My ancestors shall have their revenge, Floran!",
		"My Lord said no intruders, especially Florans!",
		"The day is mine, not yours!",
		"Your barbaric practices don't hold a candle to my skill!",
		"May my victory against you barbarians be written for eons!",
		"No intruders!",
		"Intruders will be eradicated!",
		"I wield the might of a storm, I will blow you away like a leaf in a hurricane!",
		"May the Blue Blade bless me! Kill this barbarian!",
		"I've been waiting years for this, Floran!"
      ]
    }
  }
}
