{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ruthless ", "Wrangling ", "Sharpshooting ", "Marksman ", "Peacekeeping ", "Executing ", "Ornate ", "Outlaw's ", "Riot ", "20 Notched ", "Bulldog ", "Reliable ", "Ranger's ", "Handcrafted ", "Elephant ", "Errant's ", "Merciful " ],
      [ { "mode" : "alts" }, "Revolver", "6-Shooter", "Magnum", ".44", ".38", "Slab", "Judge", "Cannon", "Iron", "BFR", "Type 42", "Model 1937", "Revólver", "Pistola", "Liberator", "Rhino", "Sunshooter", "Obliterator", "Headhunter", "Stampede", "Senator" ]
    ]
  ]
}
